<% content_for :title, @question.title %>
<nav>
  <%= link_to 'Give Answer', new_question_answer_path(@question.id), id: 'but' %>
</nav>
<section id='show-question' class='question'>
  <h2>
    <%= @question.title + "?" %>
  </h2>
  Tagged: <% @question.tags.each do |tag| %>
    <%= tag.word %>
  <% end %>
  <h4>
    Asked by <%= link_to @question.user.username, @question.user %>, <%= format_date(@question.posted_at) %>
  </h4>
  <div>
    <p class='question-content'><%= @question.content %></p>
  </div>
  <div class='option-links'>
    <%= link_to "Edit", edit_question_path %> <%= link_to "Delete", question_path(@question), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
  </div>
  <%= @responses %>
  <ul>
    <% @question.responses.each do |response| %>
      <li class='response'>
        <p>
          <%= response.content %>
        </p>
        <h5>Response by <%= response.user.username %>, <%= format_date(response.posted_at) %></h5>
      </li>
    <%end%>
  </ul>
</section>
<section id='show-answers' class='answers'>
  <% @question.answers.each do |answer|  %>
    <%= answer.content %>
    <h5> Answer by <%= answer.user.username %>, <%= format_date(answer.posted_at)%></h5>
    <ul>
      <% answer.responses.each do |response| %>
      <li class='response'>
        <p>
          <%= response.content%>
          Response by <%= response.user.username %>, <%= format_date(response.posted_at) %>
        </p>
      </li>
      <%end%>
    </ul>
  <%end%>

</section>
