<% content_for :title, @question.title %>

<%= link_to 'Questions index', questions_path %>
</section>
<section id='show-question' class='question'>
  <h2>
    <%= @question.title + "?" %>
  </h2>
  <h4>
    Asked by <%= link_to @question.user.username, @question.user %>, <%= @question.posted_at %>
  </h4>
  <div>
    <p class='question-content'><%= @question.content %></p>
  </div>
  <%= @responses %>
  <ul>
    <% @question.responses.each do |response| %>
      <li class='response'>
        <p>
          <%= response.content %>
        </p>
        <h5>Response by <%= response.user.username %>, <%= response.posted_at %></h5>
      </li>
    <%end%>
  </ul>
</section>
<section id='show-answers' class='answers'>
  <% @question.answers.each do |answer|  %>
    <%= answer.content %>
    <h5> Answer by <%= answer.user.username %>, <%= answer.posted_at%></h5>
    <ul>
      <% answer.responses.each do |response| %>
      <li class='response'>
        <p>
          <%= response.content%>
          Response by <%= response.user.username %>, <%= response.posted_at %>
        </p>
      </li>
      <%end%>
    </ul>
  <%end%>

</section>
