<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <%= image_tag "logo.png", class: 'header-image' %>
      <%= link_to 'See latest questions', questions_path %>
      <% if current_user %>
      <% else %>
        <%= link_to 'Login', '/login' %>
        <%= link_to 'New User', new_user_path %>
      <% end %>
    </nav>
  </header>
  <%= yield %>

  </body>
</html>
